﻿* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

.bodyimage {
    background-color: black;
}

form {
    width: 450px;
    padding: 30px 70px;
    margin-top: 200px;
    animation: move 2s infinite;
    border-radius: 20px;
}

@keyframes move {
    50% {
        box-shadow: 10px 20px 30px green
    }
}

.h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 3px;
    margin-right: 17px;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

input[type=text], input[type=password], input[type=email] {
    background-color: #f2f4f6;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    width: 290px;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 15px;
}

.inputbutton {
    width: 290px;
    background-color: #04AA6D;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 15px 0;
    transition: background-color 0.4s;
    border-radius: 15px;
}

.inputbutton:hover {
    opacity: 0.8;
}