
@{
    ViewBag.Title = "Letsdoshop";
}

<div>
    <form action="" method="post">
        <img class="img-responsive" src="~/Image/cover.jpg" height="200" width="280" />
        <input type="text" class="form-control text-center" name="p_Name" value="Phone Back Cover" readonly/>
        <input type="text" class="form-control" name="p_Price" value="250" readonly/>
        <input type="number" class="form-control" name="p_Qty" placeholder="Quantity" />
        <input type="submit" class="form-control btn btn-success" name="submit" value="Add to Cart" />
    </form>
</div>