@{
    ViewBag.Title = "Contact";
}

<body>
    
    <form>
        <input class="form-control" type="text"   placeholder="Name">
        <input class="form-control" type="text"   placeholder="AIUB ID">
        <input class="form-control" type="email"  placeholder="AIUB Email">
        <input class="form-control" type="submit" value="Send">
    </form>

</body>
