@{
    ViewBag.Title = "Contact";
}

<body>
    <div>
        <form>
            <h2 class="h2">Contact</h2>
            <table class="container">
                <tr>
                    <td>
                        <label for="uname">
                            <input type="text" id="uname" placeholder="Name"><br>
                        </label>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label for="pass"> <input type="text" id="pass" placeholder="AIUB ID"><br></label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email"> <input type="email" id="uname" placeholder="AIUB Email"><br></label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input class="inputbutton" type="submit" name="submit" value="Send">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
