
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<div>
    <div>
        <h2><a href="https://www.aiub.edu">American International University-Bangladesh</a></h2>
        <p>BSc. CSE</p>
        <p>Present</p>
    </div>

    <div>
        <h2><a href="https://www.dmrc.edu.bd">Dr. Mahbubur Rahman Mollah Collage</a></h2>
        <p>HSC</p>
        <p>Higher Secondary School Certificate</p>
    </div>

    <div>
        <h2><a href="https://www.rrn.edu.bd">Kaliganj RRN Pilot Government Highj Schools </a></h2>
        <p>SSC</p>
        <p>Secondary School Certificate</p>
    </div>
</div>