
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div>
    <div class="card">
        <div class="card-body">
            <div class="text-justify">
                <h2 class="card-title text-primary">Military Management - On Target</h2>
                <h4 class="card-subtitle">Object Oriented Programming 1 (Java)</h4>
                <p class="text-info">
                    This is a simple java project done by me and my group member. The name of the project is
                    "Military Management". This project is about new comer military persons who can see their
                    divissions(which divissions they are selected for) by their basic traning scores, adedemic
                    score, firing skills, driving skills scores.
                </p>
            </div>
        </div>
    </div>

    <div class="text-justify">
        <h2 class="text-primary">The Last Soldier</h2>
        <h4 class="text-secondary">Object Oriented Programming 2 (Csharp)</h4>
        <p class="text-info">
            There are three types of users in this project. Army personnel, an army man's family, and
            system maintenance admin. Here, We implemented this project for the army man's family.
            Army man's family are unaware of their status when army personnel is on a mission, where
            they are. Are they alive? What is the condition there? To resolve their worries, we implemented
            this project.Firstly, family members need to register an account with a secret code.The secret
            code is provided by army HQ. That code defines whom they are looking for. They can see the proper
            condition by searching them by the secret code. Admin updates the latest data.
        </p>
    </div>

    <div class="text-justify">
        <h2 class="text-primary">Banking Management System</h2>
        <h4 class="text-secondary">Web Techonology</h4>
        <p class="text-info">
            Banking or financial sites are revolutionizing the banking sector in Bangladesh. Banking sites are 
            used to conduct a range of financial transactions through the financial institution’s website. It 
            connects the core banking system operated by a bank to provide customers access to banking services 
            in place of traditional branch banking. We are doing this project to be a part of this revolution 
            and earn first-hand experience in the web technologies related to banking which is an integral part 
            of software engineering. Thorough this, in dept idea regarding backend and the front end can be achieved.
            Furthermore, we can get knowledge about how to build a secure web application that is user-friendly in 
            every aspect. Here Our project is the starting path of a well- organized project on Web Technologies. In 
            this project, we tried to ensure an overall better user experience. We also tried to implement all the 
            general banking features in the project. As a reference, we took City Bank as our ideal web page. It is 
            a well-designed website that has everything a user commands whenever needed. It has all the needed 
            information and operations organized. It gives a premium user experience and ensures all the services 
            to users online. Besides we also take help from W3Schools is an online free learning platform.
        </p>
    </div>
</div>