
@{
    ViewBag.Title = "Validation";
}

<h2>Validation</h2>

<form action="" method="post">
    <input type="text" class="form-control" name="fullname" placeholder="Enter your name">
    <input type="text" class="form-control" name="aiubid" placeholder="Enter your id">
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female
    <input type="email" class="form-control" name="aiubmail" placeholder="Enter your aiub email">
    <input type="password" class="form-control" name="pass" placeholder="password">
    <input type="password" class="form-control" name="cpass" placeholder="Confirm password">
    <input type="datetime" class="form-control" name="dob" placeholder="Enter your date of birth">
    <input type="submit" class="form-control alert-success" name="submit">
</form>