
@{
    ViewBag.Title = "Home";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/CSS" href="~/Content/Style.css">
    <title>Home - rakinsadaftab</title>
</head>

<body class="bgcolor">

    <div class="maindiv">
        <div class="form" id="goright">
            <img class="img" src="~/Images/0x2.jpeg" alt="rakinsadaftab">
            <h3 class="name">Rakin Sad Aftab</h3>
            <p class="other">20-41991-1</p>
            <p class="other">American International University-Bangladesh</p>

            <footer>
                <a id="icon" href="https://www.facebook.com/aftabrakinsad" target="_blank" class="fa-brands fa-facebook"></a>
                <a id="icon" href="https://www.instagram.com/aftabrakinsad/" target="_blank" class="fa-brands fa-instagram"></a>
                <a id="icon" href="https://www.linkedin.com/in/aftabrakinsad/" target="_blank" class="fa-brands fa-linkedin"></a>
                <a id="icon" href="https://www.github.com/aftabrakinsad" target="_blank" class="fa-brands fa-github"></a>
                <p>&copy; @DateTime.Now.Year - rakinsadaftab</p>
            </footer>
        </div>
    </div>
</body>