
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<body>
    <form action="" method="post">
        <div class="card">
            <div class="container">
                <input type="hidden" name="ID" value="@Model.ID"/>
                <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Bike name"/>
                <input type="number" class="form-control" name="Price" value="@Model.Price" placeholder="Price"/>
                <input type="number" class="form-control" name="Qty" value="@Model.Qty" placeholder="1"/>
                <input type="submit" class="form-control alert-success" name="submit" value="Edit"/>
            </div>
        </div>
    </form>
</body>