
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    @foreach (var pt in Model)
    {
        <tr>
            <td>@pt.ID</td>
            <td>@pt.Name</td>
            <td>@pt.Price</td>
            <td>@pt.Qty</td>
            <td><a href="/product/edit/@pt.ID" class="btn btn-info">Edit</a></td>
            <td><a href="/product/delete/@pt.ID" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>