
@{
    ViewBag.Title = "Product";
}

<body>
    <form action="" method="post">
        <div class="card">
            <img src="~/Image/bike.jpg" alt="bike" style="width:100%">
            <div class="container">
                <input type="text" class="form-control" name="Name" placeholder="Bike name"/>
                <input type="number" class="form-control" name="Price" placeholder="Price"/>
                <input type="number" class="form-control" name="Qty" placeholder="1" />
                <input type="submit" class="form-control alert-success" name="submit" value="Add to cart" />
            </div>
        </div>
    </form>
</body>