
@{
    ViewBag.Title = "AddStudent";
}

<h2>Add Student</h2>
<form action="" method="post">
    <input type="text" class="form-control" name="Name" placeholder="Enter Student Name" />
    <input type="text" class="form-control" name="Dob" placeholder="Enter Student Date of Birth" />
    <input type="submit" class="form-control" name="submit" value="Add"/>
</form>

