@{
    ViewBag.Title = "Edit Student";
}

<body>
    <form action="" method="post">
        <div class="card">
            <div class="container">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Student name" />
                <input type="number" class="form-control" name="Cgpa" value="@Model.Cgpa" placeholder="Enter Cgpa" />
                <input type="submit" class="form-control alert-success" name="submit" value="Edit" />
            </div>
        </div>
    </form>
</body>