@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <td>SL</td>
        <td>Name</td>
        <td>CGPA</td>
        <td colspan="2">Operations</td>
    </tr>

    @foreach (var pt in Model)
    {
        <tr>
            <td>@pt.Id</td>
            <td>@pt.Name</td>
            <td>@pt.Cgpa</td>
            <td><a href="/student/edit/@pt.Id" class="btn btn-success">Edit</a></td>
            <td><a href="/student/delete/@pt.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>